.sessao2 {
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 37, 29, 1);
}

#sessao2_S1 {
    height: 100%; 
    display: flex;
    flex-wrap: wrap;
    
}
  
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px); 
    margin: 0 auto; 
}
  
.texto_produto{
    flex: 0 0 calc(30% - 10px);
    margin-bottom: 20px; 
    background-color: rgba(235, 37, 29, 1);
    color: white;
}
  
.img_prod img{
    background-color: rgba(235, 37, 29, 1); 
    align-items: center;
    width: 250px;
}
  