.sessao1 {
    height: 90vh;
    display: flex;
}

#sessa1_esquerda {
    width: 40%;
    height: 100%;
    font-family: PoppinB;
}
#sessa1_direita {
    width: 60%;
    height: 100%;
}
#sessa1_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px; 
}

#sessa1_direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#texto_S1 {
    font-size: 3rem;
    text-align: center;
}

.button {
    background-color: #FF0000; 
    color: #FFFFFF; 
    border-radius: 10px; 
    padding: 20px 30px; 
    transition: background-color 0.3s, transform 0.3s; 
    cursor: pointer;
    margin-top: 4rem;
}

.button:hover {
    background-color: #FF3333; 
}

.button:active {
    transform: scale(1.05); 
}