
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 5% 10px;
    min-height: 100vh;
    text-align: center;
  }

  .hero-text {
    flex: 1;
    max-width: 400px;
  }

  .hero-text h1 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 30px;
    color: #d90000;
    font-weight: bold;
    font-family: PoppinB;
  }

  .hero-text button {
    background-color: #d90000;
    color: #fff;
    font-weight: bold;
    padding: 14px 28px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .hero-text button:hover {
    background-color: #b00000;
  }

  .hero-image {
    flex: 1;
    max-width: 400px;
    position: relative;
  }

  .hero-image img.logo {
    width: 100%;
    display: block;
  }

  .hero-image img.chips {
    position: absolute;
    bottom: -20px;
    right: -5;
    width: 160px;
  }

    @media (max-width: 768px) {
        .hero {
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding-top: 100px;
          height: auto;         /* <-- ESSENCIAL */
            min-height: 600px; 
        }
      
        .hero-image {
          order: 1;
          max-width: 180px;
          margin-bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      
        .hero-image img.logo {
          width: 100%;
          margin-bottom: 0;
        }
      
        .hero-image img.chips {
          width: 80px;
          right: 0;
          bottom: 60px;
        }
      
        .hero-text {
          order: 2;
          margin-top: -50px; /* cola o texto na imagem */
        }
      
        .hero-text h1 {
          font-size: 1.8rem;
          margin-bottom: 20px;
        }

      
  }