.sessao4 {
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    flex-direction: column;
}

.sessao4 .titulo_sessao h1{
    color: red;
    margin-bottom: 20%;
}

#card_4 {
    width: 70%; 
    height: 90%; 
    background-color: rgba(235, 37, 29, 1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
}

#img_4{
    margin-top: -150px;
}

#img_4 img{
    max-width: 300px; 
    
}

#texto_card_4{
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 20px 30px; 
    text-align: center;
}

.titulo_4{
    font-size: 30px;
    color: #FFFFFF;
}

.ingredientes{
    color: #FFFFFF;
    width: 75%;
}

.linha4{
    display: flex;
    flex-direction: row;
    width: 75%;
}

.imagemlud{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagemlud img{
    width: 200px;
    position:absolute;
}

.preparo{
    width: 100%;
    color: #FFFFFF;
    margin-top: 5%;
}